<div class="comments">
  <% unless parent.comments.empty? %>
    <h2>Comments:</h2>
    <div class="comment">
      <div class="more-comments">
        <%= parent.comments.count>5 ? link_to(pluralize(parent.comments.count-5, 'more comment'),parent_path) : '' %>
      </div>
    </div>
    <% parent.comments.last(4).each do |comment| %>
      <div class="comment">
        <% if comment.user == current_user %>
          <div class="actions"><%= link_to 'remove', [parent, comment], method: :delete, data: {confirm: 'Are you sure?'} %></div>
        <% end %>
        <div class="user">
          <%= content_tag :span, comment.user.name,
                          title: "#{time_ago_in_words(comment.created_at)} ago",
                          alt: "#{time_ago_in_words(comment.created_at)} ago" %>:
        </div>
        <div class="comment-body"><%= markdown(comment.content) %></div>
      </div>
    <% end %>
  <% end %>
  <%= render 'comments/form', parent: parent %>
</div>
