<h1>Videos</h1>

<% if current_user.try(:admin?) %>
  <p>
    <%= link_to 'Add a new video', new_video_path %>
  </p>
<% end %>

<ul class="videos">
  <% @videos.each do |video| %>
    <li class="video">
      <div class="clip"><%= raw video.html %></div>
      <div class="title"><%= video.title %></div>
      <div class="description"><%= video.description %></div>
      <div class="info">Added by
        <%= content_tag :span, real_user(video.user), class: 'user' %>
        <%= time_ago_in_words(video.created_at) %> ago.
      </div>
      <% if current_user.try :admin? %>
        <%= link_to 'Open', video_path(video) %>
        <%= link_to 'Edit', edit_video_path(video) %>
        <%= link_to 'Delete', video, :confirm => 'Are you sure?', :method => :delete %>
      <% end %>
    </li>
  <% end %>
</ul>
<%= will_paginate @videos, style: 'background: $primary-color; color: $secondary-text' %>
