<h1>Videos</h1>

<% if current_user.try(:admin?) %>
  <p>
    <%= link_to 'Add a new video', new_video_path %>
  </p>
<% end %>

<ul class="videos">
  <% @videos.each do |video| %>
    <li class="video">
      <div class="actions">
        <% if current_user.try :admin? %>
          <%= link_to 'Open', video_path(video) %>
          <%= link_to 'Edit', edit_video_path(video) %>
          <%= link_to 'Delete', video_path(video), :confirm => 'Are you sure?', :method => :delete %><br>
          <%= link_to('Move Up', move_up_video_path(video)) unless video.best? %>
          <%= link_to('Move Down', move_down_video_path(video)) unless video.worst? %>
        <% end %>
      </div>
      <%= render 'video', video: video %>
    </li>
  <% end %>
</ul>
<%= will_paginate @videos, style: 'background: $primary-color; color: $secondary-text' %>
