<div class="actions">
  <%= link_to 'Back', videos_path %>
  <% if current_user.try :admin? %>
    <%= link_to 'Edit', edit_video_path(@video) %>
    <%= link_to 'Delete', video_path(@video), :confirm => 'Are you sure?', :method => :delete %>
    <br>
    <%= link_to('Move Up', move_up_video_path(@video)) unless @video.best? %>
    <%= link_to('Move Down', move_down_video_path(@video)) unless @video.worst? %>
  <% end %>
</div>
<h2 class="title"><%= @video.title %></h2>
<p class="description">by <%= @video.description %></p>
<p class="info">Added by
  <%= content_tag :span, real_user(@video.user), class: 'user' %>
  <%= time_ago_in_words(@video.created_at) %> ago.
</p>
<div class="clip single_clip"><%= raw @video.html %></div>

<h2>Comments:</h2>
<div class="comments">
  <%= render @comments, parent: @video %>
  <%= render 'comments/form', parent: @video %>
  <%= will_paginate @comments %>
</div>
