<h1>Mixtapes</h1>

<% if current_user.try(:admin?) %>
  <p>
  <%= link_to 'Add a new mixtape', new_mixtape_path %>
  </p>
<% end %>

<ul class="mixtapes">
  <% @mixtapes.each do |mixtape| %>
    <li class="mix">
      <h2><%= mixtape.title %></h2>
      <% if current_user.try :admin? %>
        <span class="actions">
          <%= link_to 'Open', mixtape_path(mixtape) %>
          <%= link_to 'Edit', edit_mixtape_path(mixtape) %>
        </span>
      <% end %>
      <%= render 'mixtape', mixtape: mixtape %>
    </li>
  <% end %>
</ul>
