<%= link_to 'Back to the Calendar', calendar_path %>
<% if current_user.try(:admin?) %>
  <span class="actions">
    <%= link_to 'Edit', edit_event_path(@event) %>
  </span>
<% end %>
<%= render 'event', event: @event %>

<h2>Comments:</h2>
<div class="comments"><%= render @comments, parent: @event %></div>
<%= render 'comments/form', parent: @event %>
<%= will_paginate @comments %>
