<span class="actions">
  <%= link_to 'Back', calendar_path %>
  <% if current_user.try(:admin?) %>
    <%= link_to 'Edit', edit_event_path(@event) %>
    <%= link_to 'Delete', event_path(@event), method: :delete, data: {confirm: 'Are you sure?'} %>
  <% end %>
</span>
<%= render 'event', event: @event %>

<h2>Comments:</h2>
<div class="comments"><%= render @comments, parent: @event %></div>
<%= render 'comments/form', parent: @event %>
<%= will_paginate @comments %>
