<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<h1>Someone left a comment</h1>

<p><%= @comment.user.name %> (<%= @comment.user.email %>) commented on <%= @subject %>.</p>
<p>"<%= @comment.content %>"</p>
<p><%= @link %></p>
<p>
  Cheers,<br>
  Doug Out (Your faithful website bot)
</p>

</body>
</html>