<div class="story" id="story_<%= story.id %>">
  <div class="date"><%= time_ago_in_words story.updated_at %> ago</div>
  <% if current_user.try(:admin?) %>
    <div class="actions">
      <%= link_to 'Edit', edit_story_path(story) %>
      <%= link_to 'Delete', story_path(story), method: :delete, data: {confirm: 'Are you sure?'} %>
    </div>
  <% end %>
  <div class="title"><%= story.title %></div>
  <div class="body"><%= markdown(story.content) %></div>
  <%= render 'comments/index', parent: story, parent_path: story_path(story) %>
</div>
