<h1 id="edit_story">Edit A Story</h1>
<%= link_to 'Write a new story', '#new_story', class: 'new_story' %>
<%= form_for @story, html: {id: 'story_form', class: 'story_form', multipart: true} do |f| %>
  <%= f.text_field :title, placeholder: 'Title' %>
  <%= f.text_area :content, placeholder: 'Content' %>
  <%= f.file_field :image %>
  <div id="preview"></div>
  <%= f.submit %>
<% end %>
