<div class="actions">
  <%= link_to 'Edit', edit_story_path(@story) %>
  <%= link_to 'Back to News', stories_path %>
</div>
<div class="story">
  <h1><%= @story.title %></h1>
  <%= content_tag(:div, class: 'story-body', style: @story.image.exists? ? 'min-height: 300px' : '') do %>
    <%= content_tag :div, image_tag(@story.image.url(:normal)), class: 'story-image', style: @story.id.odd? ? 'float: left' : 'float: right' %>
    <p><%= @story.content %></p>
  <% end %>

  <h2>Comments:</h2>
  <div class="comments">
    <%= render @comments, parent: @story %>
    <%= render 'comments/form', parent: @story %>
    <%= will_paginate @comments %>
  </div>
</div>
