<div class="actions">
  <%= link_to 'Edit', edit_story_path(@story) %>
  <%= link_to 'Back to News', stories_path %>
</div>
<h1><%= @story.title %></h1>

<p><%= @story.content %></p>

<h2>Comments</h2>
<%= link_to 'Add A Comment', '#add_comment', class: 'add_comment', id: 'comments' %>
<%= form_for([@story, @story.comments.build]) do |f| %>
  <%= f.submit 'Add' %>
  <%= f.text_area :content, class: 'story-comment' %>
<% end %>
<div class="comments"><%= render @comments, parent: @story %></div>
<%= will_paginate @comments %>
