<h1>Tunes</h1>

<% if current_user.try(:admin?) %>
  <p>
  <%= link_to 'Add a new tune', new_tune_path %>
  </p>
<% end %>

<p>Here are some of the tunes we are playing at the moment. Not a definitive top 10, but the ones we can share with you
though Soundcloud or youTube.</p>

<ol class="tunes">
  <% @tunes.each do |tune| %>
    <li class="tune">
      <div class="position" id="position_<%= tune.position %>"></div>
      <div class="clip"><%= raw tune.html %></div>
      <div class="title"><%= tune.title %></div>
      <div class="artist">by <%= tune.artist %></div>
      <div class="info">Added by
        <%= content_tag :span, real_user(tune.user), class: 'user' %>
        <%= time_ago_in_words(tune.created_at) %> ago.
      </div>
      <div class="comments"><%= link_to "#{pluralize(tune.comments.count, 'Comment')}", tune_path(tune) %></div>
      <% if current_user.try :admin? %>
        <%= link_to 'Open', tune_path(tune) %>
        <%= link_to 'Edit', edit_tune_path(tune) %>
        <%= link_to 'Delete', tune, :confirm => 'Are you sure?', :method => :delete %>
        <br>
        <%= link_to('Move Up', move_up_tune_path(tune)) unless tune.best? %>
        <%= link_to('Move Down', move_down_tune_path(tune)) unless tune.worst? %>
    <% end %>
    </li>
  <% end %>
</ol>
