<%= link_to 'Back to the List', tunes_path %>
<h1 class="title"><%= @tune.title %></h1>
<h1 class="artist"><%= @tune.artist %></h1>
<p class="info">Added by
  <%= content_tag :span, real_user(@tune.user), class: 'user' %>
  <%= time_ago_in_words(@tune.created_at) %> ago.
</p>
<% if current_user.try :admin? %>
  <%= link_to 'Edit', edit_tune_path(@tune) %>
  <%= link_to 'Delete', @tune, confirm: 'Are you sure?', method: :delete %>
<% end %>
<div class="clip"><%= raw @tune.html %></div>
<%= render 'comments/index', parent: @tune %>
