<h1>Contact Us</h1>

<p>To enquire about booking us, or just to get in touch, you can
  <%= link_to 'email', 'mailto:digitsoundsystem@gmail.com' %> us or check us out on
  <%= link_to 'Facebook', 'https://www.facebook.com/Dig-It-Sound-System-117227898363872/' %>
  <%= link_to 'Twitter', 'https://twitter.com/digitsoundboy' %>
  <%= link_to 'YouTube', 'https://www.youtube.com/channel/UC7COpmLjdE2DqItWdm8qk5Q' %> and
  <%= link_to 'Instagram', 'https://www.instagram.com/digitsoundsystem/' %>.
</p>
