<h1>Contact Us</h1>

<p>
  If you would like to know about up and coming gigs or events then please check the <%= link_to 'news', news_url %>
  and the <%= link_to 'calendar', calendar_path %> pages. If you'd like to make a booking then please fill out the
  form below. For more Dig It Sound System activity on the web, check out our social media channels at the bottom of
  the page. For all other enquires please drop us an <%= link_to 'email', 'mailto:digitsoundsystem@gmail.com' %>.
</p>

<h2>Request a Booking</h2>

<%= form_for @contact, url: contact_path do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :email %>
  <%= f.text_field :email %>

  <%= f.label :date %>
  <%= f.text_field :date %>

  <%= f.label :venue %>
  <%= f.text_field :venue %>

  <%= f.label :details %>
  <%= f.text_area :details %>

  <% if @contact.errors.any? %>
    <ul>
      <% @contact.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <%= f.submit 'Request' %>

<% end %>
