<footer>
  <div class="contact-links">
    <%= link_to '', 'mailto:digitsoundsystem@gmail.com', title: 'Email', alt: 'Email', class: 'social email-button' %>
    <%= link_to '', 'https://www.facebook.com/Dig-It-Sound-System-117227898363872/', title: 'facebook', alt: 'Facebook', class: 'social facebook-button', target: '_blank' %>
    <%= link_to '', 'https://www.youtube.com/channel/UC7COpmLjdE2DqItWdm8qk5Q', title: 'YouTube', alt: 'YouTube', class: 'social youtube-button', target: '_blank' %>
    <%= link_to '', 'https://www.mixcloud.com/digitsoundsystem', title: 'Mixcloud', alt: 'Mixcloud', class: 'social mixcloud-button', target: '_blank' %>
    <%= link_to '', 'https://www.soundcloud.com/dig-it-sound-system', title: 'Soundcloud', alt: 'Soundcloud', class: 'social soundcloud-button', target: '_blank' %>
    <%= link_to '', 'https://www.instagram.com/digitsoundsystem/', title: 'Instagram', alt: 'Instagram', class: 'social instagram-button', target: '_blank' %>
    <%= link_to '', 'https://twitter.com/digitsoundboy', title: 'Twitter', alt: 'Twitter', class: 'social twitter-button', target: '_blank' %>
  </div>
  <div class="copyright">
    &copy; Dig It Sound System <%= Time.now.strftime '%Y' %>
  </div>
</footer>