<header>
  <ul id="navigation">
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'News', news_path %></li>
    <li><%= link_to 'DJs', djs_path %></li>
    <li><%= link_to 'Gallery', gallery_path %></li>
    <li><%= link_to 'Mixtapes', mixtapes_path %></li>
    <li><%= link_to 'Videos', videos_path %></li>
    <li><%= link_to 'Tunes', tunes_path %></li>
    <li><%= link_to 'Calendar', calendar_path %></li>
    <li><%= link_to 'Contact', contact_path %></li>
    <ul id="profile">
      <% if user_signed_in? %>
        <li><%= current_user.name %></li>
        <li><%= link_to 'Profile', edit_user_registration_path %></li>
        <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to 'Login', new_user_session_path %></li>
        <li><%= link_to 'Sign-up', new_user_registration_path %></li>
      <% end %>
    </ul>
  </ul>
  <div id="title">
    <%= image_tag 'banner.png', :alt => 'Dig It Sound System' %>
  </div>
</header>