<!DOCTYPE html>
<html>
<head>
  <title>Dig It Sound System <%= "| #{@title}" if @title %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'fullcalendar', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= image_tag 'logo.png', alt: 'Dig It Sound System', style: 'display: none' %>
<%= render 'header' %>
<div class="background">
  <div class="section">
    <%= content_tag(:p, notice || '', class: 'alert alert-success') %>
    <%= content_tag(:p, alert || '', class: 'alert alert-danger') %>
    <%= yield %>
  </div>
</div>
<%= render 'footer' %>
</body>
</html>
